.teams-block {
    input, small {
        margin-bottom: 15px;
    }

    small {
        display: block;
    }
}

.edit-league-form {
    position: relative;
    padding: 15px;
    z-index:3;

    &.league-loading {
      &::after {
        content: '';
        position: absolute;
        top:0;
        left:0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,.6);
        z-index: 5;
      }
    }
  }
