<div class="main-content" *ngIf="!isLoading">
	<span>Loading...</span>
</div>
<div class="main-content" *ngIf="isLoading">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Групповой этап</h4>
                        <p class="category">{{ league.season }}</p>
                        <p class="category">{{ league.lNumber }}</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                          <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th *ngFor="let cell of headerRow">{{ cell }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr *ngIf="!league.lTeams">
                                    <td colspan="10" class="text-center">Сезон еще не начался!</td>
                                </tr>
                                    <tr *ngFor="let team of league.lTeams; let i = index;">
                                        <td>{{i + 1}}</td>
                                        <td>{{team.teamName}}</td>
                                        <td>{{team.statistic.games}}</td>
                                        <td>{{team.statistic.gamesWon}}</td>
                                        <td>{{team.statistic.gamesDraw}}</td>
                                        <td>{{team.statistic.gamesLost}}</td>
                                        <td>{{team.statistic.goalsScored}}</td>
                                        <td>{{team.statistic.goalsMissed}}</td>
                                        <td>{{team.statistic.goalsDifference}}</td>
                                        <td>{{team.statistic.point}}</td>
                                    </tr>
                                </tbody>
                          </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
