@import '../../../assets/sass/vendors/include-media';

.container-fluid {
  max-width: 1250px;
  margin: 0 auto;
}

.player-card-holder {
  position: relative;
  padding: 25px 15px 0;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0, .5);
    z-index: 2;
  }

  @include media ('>=tablet') {
    padding: 25px 25px 0;
    background-position: right top, left top;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
  }

  @include media ('>=desktop') {
    padding: 50px 50px 0;
  }

  &.first-bg {
    background-image: url(../../../assets/img/bgImage/bg1.jpg);

    @include media ('>=tablet') {
      background-image: url(../../../assets/img/img_logo_bg.png), url(../../../assets/img/bgImage/bg1.jpg);
    }
  }
}

.info-row {
  position: relative;
  overflow: hidden;
  z-index: 5;

  .img-holder {
    text-align: center;
    margin-bottom: 20px;

    @include media ('>=tablet') {
      width: 220px;
      float: left;
      margin-bottom: 0;
    }

    img {
      max-width: 100%;
    }
  }

  .content-holder {
    text-align: center;

    @include media ('>=tablet') {
      width: calc(100% - 220px);
      float: left;
      padding: 0 30px;
    }

    h2 {
      text-transform: uppercase;
      font-size: 25px;
      color: #ffffff;
      font-weight: bold;
      margin: 0 0 15px;

      @include media ('>=tablet') {
        font-size: 35px;
      }

      @include media ('>=desktop') {
        font-size: 45px;
      }

      @include media ('>=1500px') {
        font-size: 80px;
      }
    }

    .info-list {
     li {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;

      @include media ('>=tablet') {
        font-size: 24px;
      }
     }

     span {
      color: #ffe154;
      margin-right: 10px;
     }
    }
  }
}

.statistic-row {
  position: relative;
  padding-top: 20px;
  text-align: center;
  z-index: 5;

  @include media ('>=tablet') {
    width: 220px;
    box-shadow: 0 0 5px rgba(55, 57, 61, 0.5);
    background-image: linear-gradient(to bottom, black 0%,rgba(255, 255, 255, 0.54) 45%, rgba(255, 255, 255, 0.54) 90%, transparent 100%);
  }

  h3 {
    margin: 0 0 10px;
    color: #ffe154;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;

    @include media ('>=tablet') {
      font-size: 32px;
    }
  }

  p {
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;

    @include media ('>=tablet') {
      font-size: 24px;
      margin-bottom: 40px;
    }
  }

  .stat-list {
    padding: 0 10px;

    @include media ('>=tablet') {
     padding: 0;
    }
    li {
      position: relative;
      padding: 5px 0;
      border-bottom-width: 1px;
      border-style: solid;
      border-top-width: 0;
      border-left-width: 0;
      border-right-width: 0;
      border-image: linear-gradient(to right,  transparent 0%,#ffffff 10%, #ffffff 90%, transparent 100%);
      border-image-slice: 1;

      &::after, &::before {
        content: '';
        display: block;
        clear: both;
      }

      @include media ('>=tablet') {

        &::after, &::before {
          display: none;
        }
      }

      .stat-list-number {
        float: right;
        font-size: 16px;
        text-shadow: 0 0 5px rgba(55, 57, 61, 0.5);
        color: white;
        text-transform: uppercase;

        @include media ('>=tablet') {
          font-size: 40px;
          float: none;
        }
      }

      .stat-list-title {
        float: left;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;

        @include media ('>=tablet') {
          float: none;
          position: absolute;
          width: 100%;
          top: 50%;
          right: -120%;
          transform: translateY(-50%);
          text-align: left;
          font-size: 24px;
        }
      }

      &:nth-child(3) {
        .stat-list-title {
          color: #ffe154;
        }
      }

      &:nth-child(4) {
        .stat-list-title {
          color: red;
        }
      }
    }
  }
}
